/*Custom font for numbers on calculator display */

@font-face {
    font-family: 'e1234';
    src: url(./fonts/e1234-font/E1234-p7pER.ttf);
  }
  
  /* Basic CSS reset */
  
  html,
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Center the calculator on the screen */

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(45, 201, 193), rgb(255, 118, 109));
  }