/*Custom font for numbers on calculator display */

@font-face {
    font-family: 'e1234';
    src: url(./fonts/e1234-font/E1234-p7pER.ttf);
  }
  
  /* Basic CSS reset */
  
  html,
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Center the calculator on the screen */

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(45, 201, 193), rgb(255, 118, 109));
  }

  /* Calculator body */

.container {
    width: 480px;
    min-width: 480px;
    height: 750px;
    background-color: rgb(209, 209, 209);
    border: 6px solid rgb(27, 27, 27);
    border-radius: 1rem;
  }
  
  /* Calculator display */
  
  .result {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    padding: 5px;
    margin: 5px;
    font-family: 'e1234', 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 4rem;
    border: 5px solid rgb(245, 245, 245);
    border-radius: 10px;
    color: rgb(45, 201, 193);
    text-shadow: 0 0 12px rgb(45, 201, 193);
    background-color: rgb(27, 27, 27);
  }

  /* Decorative text under the display */

.container > p {
    margin: 0 5px;
    padding: 5px;
    font-family: Kanit, sans-serif;
    font-size: 1.7rem;
    color: rgb(233, 15, 0);
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
  }
  
  span {
    display: inline-block;
    margin-left: 2px;
    padding: 0 15px;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    background-color: rgb(45, 201, 193);
  }

  /* Calculator buttons container */

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
  }